.pen-highlighted {
	position: relative;
}
.pen-highlighted::before {
	--color-00: rgba(251, 130, 255, 0);
	--color-10: rgba(251, 130, 255, 0.1);
	--color-30: rgba(251, 130, 255, 0.3);
	--color-50: rgba(251, 130, 255, 0.5);
	--color-70: rgba(251, 130, 255, 0.7);
	--color-100: rgba(251, 130, 255, 1);
	content: '';
	position: absolute;
	inset: 0 -12px 0 -8px;
	transform: rotate(-1.5deg);
	background:
		linear-gradient(
			104deg,
			var(--color-00) 0.9%,
			var(--color-70) 2.4%,
			var(--color-50) 5.8%,
			var(--color-10) 93%,
			var(--color-70) 96%,
			var(--color-00) 98%
		),
		linear-gradient(183deg, var(--color-00) 0%, var(--color-30) 7.9%, var(--color-00) 15%);
	padding: 0.6em 13.7px;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	margin: 0;
	border-radius: 7.5px;
	text-shadow:
		-12px 12px 9.8px var(--color-70),
		21px -18.1px 7.3px var(--color-100),
		-18.1px -27.3px 30px var(--color-100);
}
